*.egg-info
*.mo
*.pyc
*.pyo
.installed.cfg
.mr.developer.cfg
.project
.pydevproject
.settings/
bin/
buildout-cache/
develop-eggs/
parts/
src/*
!src/collective
var/
htmlcov/
.coverage
*.log
output.xml
*.swp
log.html
report.html
