/*.egg-info
*.mo
*.pyc
*.pyo
/.installed.cfg
/.mr.developer.cfg
.project
.pydevproject
.settings/
/bin/
/buildout-cache/
/develop-eggs/
/parts/
/eggs/
/src/*
!/src/collective
/var/
/htmlcov/
/.coverage
*.log
/output.xml
/log.html
/report.html

*.swp
*~
.#*
\#.*#
